* {
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 20px;
}
#form-login{
    border: whitesmoke solid 4px ;
    width:fit-content;
    height:fit-content;
    padding: 20px 20px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0);
}

#a {
    width: 300px;
    height: 400px;
    margin-top: 300px;
    margin-bottom: 300px;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    text-align: center;
    padding: 50px;
    color: whitesmoke;
    font-weight:bold;
    font-size: 30px;

}

#b1 input {
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 20;
    border-radius: 15px;
    align-content: center;
    margin: auto;
    border-color: lightblue;
    border-width: 3px;
    padding-left: 20px;

}

#b2 input{
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 20;
    border-radius: 15px;
    align-content: center;
    margin: auto;
    border-color: lightblue;
    margin-top: 10px;
    border-width: 3px;


}

#b3 input{
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 20;
    border-radius: 15px;
    align-content: center;
    margin: auto;
    border-color: lightblue;
    margin-top: 10px;
    border-width: 3px;

}

#b4 {
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 20;
    border-radius: 15px;
    align-content: center;
    margin: auto;
    border-color: lightblue;
    margin-top: 10px;
    border-width: 3px;
}

#b1{
    position: relative;
}
#b1 span{
    position: absolute;
    top: 50%;
    left: 7px;
    transform: translateY(-50%);
}
body{
    background: url(/hinh/background2.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    margin: auto;
    background-position: center center;
    
}